body
{
	background-color: #303030;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
}
	
#container
{
	width: 1630px;
	margin-left: auto;
	margin-right: auto;
}
.rectangle
{
    width: 1560px;
    margin: 40px;
}
		
.square
{
	width: 50%;
	float: left;
}
		
#logo
{
	float: left;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 70px;
	width: 1000px;
	margin-top: 10px;
	margin-bottom: 10px;
}
		
#zegar
{
	float: left;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 70px;
	margin-top: 10px;
	margin-bottom: 10px;		
}

.tile1
{
	margin: 30px;
	width: 330px;
	height: 192px;
	background-color: #3095d3;
	float: left;
	text-align: center;
}

.tile1:hover
{
	background-color: #2084c2;
}

.tile2
{
	margin: 30px;
	width: 330px;
	height: 192px;
	background-color: #666666;
	float: left;
	text-align: center;
}

.tile2:hover
{
	background-color: #555555;
}

.tile3	
{
	margin: 30px;
	width: 330px;
	height: 192px;
	background-color: #93c748;
	float: left;
	text-align: center;
}

.tile3:hover
{
	background-color: #82b637;
}		
	
.tile4	
{
	margin: 30px;
	width: 640px;
	height: 112px;
	background-color: #ee5a32;
    text-align: center;	
	font-size: 36px;
	padding: 40px;
	line-height: 150%;
}		
	    
.tile5	
{
	margin: 30px;
	width: 520px;
	height: 244px;
	background-color: #666666;	
	text-align: justify;
	padding: 100px;
}

.yt	
{
	margin: 30px;
	width: 135px;
	height: 192px;
	background-color: #d94348;
	float: left;
}

.yt:hover
{
	background-color: #c83237;
}	

.fb	
{
	margin: 30px;
	width: 135px;
	height: 192px;
	background-color: #4668b3;
	float: left;
}

.fb:hover
{
	background-color: #3557a2;
}	

.gplus	
{
	margin: 30px;
	width: 135px;
	height: 192px;
	background-color: #d95333;
	float: left;
}

.gplus:hover
{
	background-color: #c84222;
}	

.twt	
{
	margin: 30px;
	width: 135px;
	height: 192px;
	background-color: #3095d3;
	float: left;
}

.twt:hover
{
	background-color: #2084c2;
}

.rectangle2
{
	text-align: center;
}

a.tilelink
{
   color: #ffffff;
   text-decoration: none;
   display: block;
   width: 330px;
   height: 192px;

}

a.tilelinkhtml5
{
   color: #ffffff;
   text-decoration: none;
}

a.cvlink
{
	color: #ffffff;
	text-decoration: none;
}

a.kontaktlink
{
	color: #ffffff;
	text-decoration: none;
}

a.ytlink
{
	color: #ffffff;
	text-decoration: none;
}

a.fblink
{
	color: #ffffff;
	text-decoration: none;
}

a.gpluslink
{
	color: #ffffff;
	text-decoration: none;
}

a.twitterlink
{
	color: #ffffff;
	text-decoration: none;
}

